[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/buildout.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/robot.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
    https://raw.githubusercontent.com/IMIO/buildout.jenkins/master/qa.cfg
    https://raw.githubusercontent.com/IMIO/buildout.website/4.3.6.x/sources.cfg

package-name = cpskin.menu

auto-checkout =
    cpskin.core
    affinitic.caching

parts +=
    omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
       ${test:eggs}

[code-analysis]
directory = ${buildout:directory}/cpskin

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    cpskin.menu [test]

[versions]
cpskin.menu =
z3c.unconfigure = 1.0.1
Pygments = 2.0.2
plone.app.robotframework = 1.1
robotframework = 3.0
robotframework-selenium2library = 1.7.4
robotframework-selenium2screenshots = 0.7.0
robotsuite = 1.7.0
selenium = 3.4.3
sphinxcontrib-robotframework = 0.5.1
